<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.cineskip">

    <uses-permission android:name="INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconsign"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconsign"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registerscreen" />
        <activity android:name=".cinemaselection" />
        <activity android:name=".profileActivity" />
        <activity android:name=".movieSelection" />
        <activity android:name=".payment" />
        <activity android:name=".orderDetails" />
        <activity android:name=".qrTest" />
        <activity android:name=".moviesRecycle" />
        <activity android:name=".movieTrailers" />
        <activity android:name=".timeSelection" />
        <activity android:name=".orderConfirmation"></activity>
    </application>

</manifest>